[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/RVSagar/franka_ros.git
[submodule "panda_simulation"]
	path = panda_simulation
	url = https://github.com/RVSagar/panda_simulation.git
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = https://github.com/RVSagar/panda_moveit_config.git
[submodule "general-message-pkgs"]
	path = general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs.git
[submodule "gazebo-pkgs"]
	path = gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs.git
