<?xml version="1.0" encoding="UTF-8"?>
<root 
 xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
 xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
 xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
 xmlns:xacro="http://ros.org/wiki/xacro">


<!-- MACRO SO THAT PANDA ACTUALLY PICKS STUFF UP IN GAZEBO -->
<xacro:macro name="gzplugin_grasp_fix" params="robot_name">
	<gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
            <arm>
                <arm_name>${robot_name}</arm_name>
                <palm_link>${robot_name}_link7</palm_link>
                <gripper_link>${robot_name}_leftfinger</gripper_link>
                <gripper_link>${robot_name}_rightfinger</gripper_link>
            </arm>
            <forces_angle_tolerance>100</forces_angle_tolerance>
            <update_rate>4</update_rate>
            <grip_count_threshold>4</grip_count_threshold>
            <max_grip_count>8</max_grip_count>
            <release_tolerance>0.005</release_tolerance>
            <disable_collisions_on_attach>false</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
        </plugin>
	</gazebo>
</xacro:macro>

</root>