<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand">

    <!-- Initialize gripper_center properties -->
    <xacro:arg name="gripper_center" default="false" /> <!-- Default value -->
    <xacro:property name="gripper_center" value="$(arg gripper_center)"/> <!-- Overload with launchfile argument -->
    <xacro:arg name="gripper_center_xyz" default="0.0 0.0 0.103" /> <!-- Default value -->
    <xacro:property name="gripper_center_xyz" value="$(arg gripper_center_xyz)"/> <!-- Overload with launchfile argument -->
    <xacro:arg name="gripper_center_rpy" default="0.0 0.0 ${pi}" />
    <xacro:property name="gripper_center_rpy" value="$(arg gripper_center_rpy)"/>

    <!-- Create the hand urdf -->
    <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" gripper_center="${gripper_center}" gripper_center_xyz="${gripper_center_xyz}" gripper_center_rpy="${gripper_center_rpy}"/>
    
</robot>
